body {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
}

.navbar .navbar-brand {
  padding: 0px;
}

.navbar .navbar-brand .icon {
  width: 30px;
  height: 30px;
}

.navbar .form-inline .btn {
  margin-left: 10px;
}

.content{
  padding: 15px 0px;
  /*border: 1px solid #ddd;*/
}

.header h3 {
  display: inline-block;
}

.header .actions {
  display: inline-block;
  float: right;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 54px;
  border-radius: .25rem;
  line-height: 54px;
  text-align: center;
  font-size: 11pt;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0px;
}

.title {
  text-align: center;
}

.plot {
  padding-top: 10px;
}

.people {
  padding-top: 10px;
}

.rating {
  font-size: 20px;
}

.movie-item {
  border-bottom: 1px #ddd solid;
  padding: 10px;
  padding-top: 15px;
}

.movie-item .thumbnail {
  max-width: 150px;
}

/*.btn {
  margin-right: 10px;
}*/

.detail-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*nav{
  border: 1px solid #ddd;
  border-bottom: 0px;
}*/

footer {
  padding: 20px 0px 0px 15px;
  border: 1px solid #ddd;
  border-top: 0px;
  background-color: #f7f7f9;
  font-size: 13px;
}

.ratingrow{
  padding-top: 20px;
}

.youwatchedrow{
  padding: 15px;
}

.br-widget a{
  font-size: 200% !important;
}

ul{
  padding-left: 0px;
}